<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.example.mobile">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".HomeUrineTestActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ECGActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".PregnancyProtectorActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".TipatChalavActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".DentalClinicsActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".PharmaciesActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".EmergencyMedicineActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".SupplementalPOSActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".LaboratoriesActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".InstitutesActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".NursesActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".HospitalsActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".DietitiansActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".SocialWrkersActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ClinicsActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".TherapistsActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".RegularMedicationsActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ItemsYouPurchasedActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".DrugApprovalsActivity"
                  android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
                android:name=".LaboratoryTestHistoryActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".LocatingPsychologistsActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".SettingsActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".DigitalActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".LocatingDoctorsActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".LocatingServicesActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".MedicalFileActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".CommitmentsActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".TestsActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".VisitActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".MedicationsAndPrescriptionsActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".InquiriesActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".QueueActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>